body {
    background-image: url('../img/benClarkPort2020-3645.jpg');
    background-size: 3000px auto;
    background-blend-mode: color;
    background-color: rgba(219, 219, 219, 0.81);
}

#title {
    font-family: 'Signika', sans-serif;
    text-align: center;
    padding: 3px;
}

#title-caption {
    margin-bottom: 30px;
    padding: 5px;
    line-height: 20px;
}

#title-div {
    margin-top: 0px;
    margin-right: 260px;
    margin-left: 260px;
    background: rgb(235, 235, 235);
}

#title-caption {
    text-align: center;
}

.text-style {
    font-family: 'Signika', sans-serif;
    margin-left: 4cm;
    margin-right: 4cm;
}
.pics {
    max-height: 600px;
    max-width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-pics {
    max-height: 600px;
    max-width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom-pics {
    max-height: 675px;
    max-width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    margin-top: 2cm;
    margin-bottom: 2cm; 
}

#text-div {
    background: rgb(235, 235, 235);
    padding: 40px;
}

figcaption {
    padding: 5px;
    text-align: center;
}

#live-img {
    padding: 75px;
}